input[type="text"],
input[type="password"],
input[type="email"],
textarea{
    display: block;
    width: 30vh;
    height: 5vh;
    padding: 20px;
    border-radius: 1vh;
    background: #fff;
    border: none;
    outline: none;
    margin: 2vh 0;
    text-transform: capitalize;
}
body{
    display: block;
    background: #FFCCD2;
    padding: 0 10vw;
}

.logo{
    display: block;
    margin: auto;
    height: auto;
    padding-top: 10px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

input, textarea{
    font-weight: 500;
}

input:not(input[type="checkbox"]){
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 0px;
    border-radius: 10px;
}

textarea{
    width: 100%;
    height: 27vh;
    resize: none;
    padding: 1vh 2vh;
    border-radius: 1vh;
}

.product-info{
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: .75fr 1.25fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2vh;
    margin-bottom: 2vh;
}

.product-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f199a6;
    background-size: cover;
    border-radius: 1vh;
    grid-row: span 2;
    text-shadow: 0 0 1vh #f199a6;
}

.text{
    text-transform: capitalize;
    color: #383838;
    font-size: 20px;
    font-weight: 500;
}

.upload-image-sec, .select-sizes{
    background: #f199a6;
    border-radius: 10px;
    padding: 20px;
}

.text img{
    height: 20px;
    margin-right: 10px;
}

.upload-catalouge{
    width: 100%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-gap: 10px;
}

.upload-image{
    width: 100%;
    height: 100px;
    background: #fff;
    cursor: pointer;
    background-size: cover;
}

.upload-image:hover{
    background: rgba(242, 208, 213);
    background-size: cover;
}

.sizes{
    margin-top: 30px;
}

.size-checkbox{
    -webkit-appearance: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #383838;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
    color: #383838;
}

.size-checkbox::after{
    content: attr(value);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    text-transform: uppercase;
}

.size-checkbox:checked{
    background: #383838;
    color:#f1b0b9;
}


input[type="number"] {
    height: 5vh;
    border: none;
    border-radius: 4px;
    position: relative;
    text-align: left;
    font-weight: 500;
    width: 10vh;
    outline: none;
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2050%2067%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20stroke-width%3D%222%22%3E%3Cline%20x1%3D%221%22%20x2%3D%2250%22%20y1%3D%2233.5%22%20y2%3D%2233.5%22%20stroke%3D%22%23D8D8D8%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2020)%20rotate(45)%20translate(-25%20-20)%22%20points%3D%2219%2026%2019%2014%2032%2014%22%20stroke%3D%22%23000%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2045)%20rotate(225)%20translate(-25%20-45)%22%20points%3D%2219%2052%2019%2039%2032%2039%22%20stroke%3D%22%23000%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-position:right center;
    background-size:contain;
    background-repeat: no-repeat;
    caret-color: transparent;
  }
  
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    opacity: 1 !important;
    background: transparent !important;
    border-width: 1px;
    margin: 0;
    border-left: 1px solid #d8d8d8;
    height: 5vh;
    width: 4vh;
    cursor: pointer;
  }

.product-price{
      display: grid;
      grid-template-columns: repeat(2,1fr 3.5fr);
      grid-gap: 2vh;
  }

.product-price input{
    padding-right: 0vh;
    border-radius: 0vh;
    margin: 0;
  }

.text-price{
    color: #383838;
    text-align: right;
    font-size: 2vh;
    font-weight: 500;
    margin-top: 7%;
  }

.buttons{
    margin: 2em auto 5em;
    width: 50%;
    width: auto;
    grid-template-columns: 60px 60px;
}
/*
.btn{
    padding: 10px 50px;
    text-transform: uppercase;
    color: #383838;
    background-color: #f199a6;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-right: 10px;
    cursor: pointer;
    display: inline-block; 
    text-align: center;  
}
*/
.btn{
    width: 30%;
    padding:10px 30px;
    cursor:pointer;
    margin:auto;
    /*background:linear-gradient(to right, #c2739e,#f1cfdf);;*/
    background: #ef7b8c;
    border: 0;
    outline:none;
    border-radius: 5px;
    text-align: center;
    color: rgb(15, 15, 15);
    text-transform: uppercase;
}
.add-btn{
    float: left;
}
.back-btn{
    float: right;
}
.btn:hover{
    background: #ec5168;
}
  