@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Bitter:wght@200&family=Work+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

.brand-logo{
    height: 90px;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    font-size: 1.8rem;
    font-weight: 600;
}

h3{
    font-size: 1.4rem;
    font-weight: 800;
}

h4{
    font-size: 1.1rem;
    font-weight: 600;
}

h5{
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}

h6{
    color: #d8d8d8;
}

button{
    font-size: 1.2rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s ease;
}

button:hover{
    background-color: #f8c3c3 ;
}



.center {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(50%, 50%);
    transform: translate(-400%, -100%);
}

.navbar{
    font-size: 16px;
    width: 100%;
    top:0;
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: #e29090;
    transition: 0.3s ease ;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active {
    color: rgb(247, 49, 49);
}

.navbar i{
    font-size: 1.2rem;
    padding: 0 7px;
    color: #e29090;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}

#bar{
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
    color: black;
}

#bar:hover,
#bar.active {
    color: #fff;
}

@media only screen and (max-width: 991px){
    body > nav > div > button:hover,
    body > nav > div > button :focus{
        background-color: #e29090;
    }

    body > nav > div > button:hover #bar,
    body > nav > div > button :focus #bar{
        color: #fff;
    }

    #navbarSupportedContent > ul {
        margin: 1rem;
        justify-content: flex-end;
        align-content: flex-end;
        text-align: right;
    }

    #navbarSupportedContent > ul > li:nth-child(n) > a{
        padding: 10px 0;
    }
    .container form div ul {
        justify-content: flex-end;
        align-content: flex-end;
        text-align: right;
    
    }
}

.navbar-light .navbar-toggler {
    border: none;
    outline: none;
}

body{
    background-image:linear-gradient(to right, #7c6969 0%, #f4f4f5 100%);
   /* display:flex;
    min-height: 100vh;
    align-items:  center;
    justify-content: center;*/
    
}

#home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container form{
    height:100%;
    width: 100%;
    background:transparent;
    display: flex;
    flex-direction: row;

}
.container.form-content{
    display:flex;
    justify-content: space-between;

}
.info-form{
    float: left;
    width: 55%;
    height:850px;
    margin:6% auto;
    background:#fff;
    padding :5px;
    border-radius: 20px;
    overflow: hidden;
}
.info-form-CN{
    float: center;
    align-items: center;
    width: 100%;
    height:350px;
    margin:6% auto;
    background:#fff;
    padding :5px;
    border-radius: 20px;
    overflow: hidden;
}
.agent-box{
    float: right;
    top:0px;
    width: 40%;
    height:650px;
    margin:6% auto;
    background:#fff;
    padding :5px;
    border-radius: 20px;
    overflow: hidden;
}

.form-box-Info{
    top:0px;
    width:580px;
    height:800px;
    position: absolute;
    top:0px;
    right:800px;
    margin:6% auto;
    background:#fff;
    padding :5px;
    border-radius: 20px;
    overflow: hidden;
}
.box-Agent{
    top:0px;
    width:580px;
    height:650px;
    position:absolute;
    left: 800px;
    top:0px;
    margin:6% auto;
    background:#fff;
    padding :5px;
    border-radius: 20px;
    overflow: hidden;
}
.form-box-Info-KH{
    
    width:80%;
    height:650px;
    position:relative;
    margin:0% auto;
    background:#fff;
    padding :5px;
    border-radius: 20px;
    overflow: hidden;
}

#btn{
    top:0;
    left:0;
    position:absolute;
    /*width:110px;*/
    height:100%;
    /*background: linear-gradient(to right, #c2739e,#f1cfdf);*/
    background: linear-gradient(to right, #ef7b8c,#faf9f9);
    border-radius:30px;
    transition:.5s;
}
.input-group{
    top:90px;
    width:50%;
    transition:.5s;
}

.input-field{
    width:100%;
    padding:10px 0;
    margin :5px 0;
    border-left:0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline:none;
    background:  transparent;
}
.submit-btn{
    width:85%;
    padding:10px 30px;
    cursor:pointer;
    display:block;
    margin:auto;
    background: #ef7b8c;
    border: 0;
    outline:none;
    border-radius: 30px;
    text-align: center;
    color: rgb(15, 15, 15);
    text-decoration: none;
}
.submit-view-btn{
    width:10%;
    padding:5px 10px;
    cursor:pointer;
    background: #ef7b8c;
    border: 0;
    outline:none;
    border-radius: 5px;
    text-align: center;
    color: rgb(15, 15, 15);
}
.back-btn{
    top:100px;
    width:70%;
    padding:5px 10px;
    cursor:pointer;
    background: #ef7b8c;
    border: 0;
    outline:none;
    border-radius: 5px;
    text-align: center;
    color: rgb(15, 15, 15);
    font-size: 15px;
}

.text{
    text-align: center;
}
.template{
    text-align: center;
}




